@font-face {
  font-family: 'wpmicons';
  src: url("fonts/wpmicons.eot?9boc5n");
  src: url("fonts/wpmicons.eot?9boc5n#iefix") format("embedded-opentype"), url("fonts/wpmicons.ttf?9boc5n") format("truetype"), url("fonts/wpmicons.woff?9boc5n") format("woff"), url("fonts/wpmicons.svg?9boc5n#wpmicons") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="wpm-icon-"], [class*=" wpm-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'wpmicons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wpm-icon-cart:before {
  content: "\e900";
}

.wpm-icon-add-to-cart:before {
  content: "\e901";
}

.wpm-icon-googleplay:before {
  content: "\e902";
}

.wpm-icon-download:before {
  content: "\ea36";
}

.wpm-icon-amazon:before {
  content: "\ea87";
}

.wpm-icon-itunes:before {
  content: "\eabe";
}

.wpm-icon-cart:before,
.wpm-icon-add-to-cart:before {
  position: relative;
  top: 1px;
  font-size: 16px;
}

.wpm-track-buy-links .added_to_cart {
  display: none;
}

.wpm-add-to-cart-button {
  position: relative;
}

.wpm-add-to-cart-button-title {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 5;
}

.wpm-add-to-cart {
  position: relative;
  z-index: 0;
}

.wpm-icon-add-to-cart:before {
  display: inline-block;
}

.wpm-add-to-cart-button.loading .wpm-icon-add-to-cart:before {
  opacity: .66;
}

.wpm-add-to-cart-button.added .wpm-icon-add-to-cart:before {
  -webkit-animation: wpm_pop 0.3s linear 1;
  animation: wpm_pop 0.3s linear 1;
}

@-webkit-keyframes wpm_pop {
  50% {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
  }
}

@keyframes wpm_pop {
  50% {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
  }
}

.wpm-playlist,
.wpm-playlist *,
.wpm-playlist:after,
.wpm-playlist:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.wpm-playlist .wpm-track,
.wpm-playlist .wpm-tracks {
  width: 100%;
  border-style: solid;
}

.wpm-audio {
  display: none;
}

.wpm-playlist {
  font-family: sans-serif;
  font-size: 12px;
  line-height: 1;
  margin: 0 0 20px;
  position: relative;
}
.wpm-playlist ol.wpm-tracks {
  margin-left: 0 !important;
  max-height: 305px;
}
.wpm-playlist ol.wpm-tracks.wpm-tracks-has-scrollbar {
  padding-right: 17px;
}
.wpm-playlist ol.wpm-tracks,
.wpm-playlist ol.wpm-tracks li.wpm-track {
  margin: 0;
  padding: 0;
}
.wpm-playlist.wpm-regular-playlist .mejs-controls .mejs-playpause-button {
  color: #fff;
}
.wpm-playlist .mejs-container {
  background-clip: padding-box;
  height: 138px !important;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: left;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  width: 100%;
  border-radius: 0;
}
.wpm-playlist .mejs-container .mejs-mediaelement {
  background: 0 0;
}
.wpm-playlist .mejs-container .mejs-inner {
  height: auto;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 138px;
  padding: 15px 20px 25px;
  position: relative;
  z-index: 10;
}
.wpm-playlist .mejs-container .mejs-track-details {
  position: relative;
}
.wpm-playlist .mejs-container .mejs-track-details .mejs-track-artist {
  display: block;
  line-height: 2;
  margin-right: 45px;
  min-height: 12px;
}
.wpm-playlist .mejs-container .mejs-track-details .mejs-track-title {
  display: block;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
}
.wpm-playlist .mejs-container .mejs-controls {
  background: 0 0;
  display: block;
  margin-top: 10px;
  height: 100%;
}
.wpm-playlist .mejs-container .mejs-controls .mejs-time span {
  color: #fff;
  line-height: 16px;
  margin: 0;
}
.wpm-playlist .mejs-container .mejs-controls .mejs-time-rail {
  background: none !important;
  outline: none;
  -webkit-box-shadow: 0 -1px rgba(255, 255, 255, 0.2);
  box-shadow: 0 -1px rgba(255, 255, 255, 0.2);
  height: 4px;
  padding: 0;
  margin: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}
.wpm-playlist .mejs-container .mejs-controls .mejs-time-rail .mejs-time-hovered,
.wpm-playlist .mejs-container .mejs-controls .mejs-time-rail .mejs-time-handle {
  display: none !important;
}
.wpm-playlist .mejs-container .mejs-controls .mejs-time-rail .mejs-time-total {
  outline: none;
  background: rgba(0, 0, 0, 0.44) !important;
  border-radius: 0;
  height: 4px;
  margin: 0;
  width: 100%;
}
.wpm-playlist .mejs-container .mejs-controls .mejs-time-rail .mejs-time-loaded {
  background: rgba(255, 255, 255, 0.22) !important;
}
.wpm-playlist .mejs-container .mejs-controls .mejs-time-rail .mejs-time-slider {
  outline: none;
}
.wpm-playlist .mejs-container .mejs-controls .mejs-time-rail .mejs-time-handle {
  background: rgba(255, 255, 255, 0.44);
  border-radius: 0;
  border-width: 0;
  display: block;
  height: 4px;
  position: absolute;
  top: 0;
  width: 2px;
}
.wpm-playlist .mejs-container .mejs-controls .mejs-button {
  border: none;
  height: 0;
  margin: 15px 15px 15px 15px;
  width: 0;
}
.wpm-playlist .mejs-container .mejs-controls .mejs-button button {
  background: 0 0;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 20px;
  width: 20px;
  margin: 0;
  outline: 0;
  position: relative;
  -webkit-transition: none;
  transition: none;
}
.wpm-playlist .mejs-container .mejs-controls .mejs-playpause-button {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  cursor: pointer;
  height: 50px;
  width: 50px;
  position: absolute;
  -webkit-transition: -webkit-box-shadow .2s;
  transition: box-shadow .2s;
  top: 25px;
  left: 25px;
  left: 24.5px;
}
.wpm-playlist .mejs-container .mejs-controls .mejs-playpause-button.mejs-play:before, .wpm-playlist .mejs-container .mejs-controls .mejs-playpause-button.mejs-pause:before {
  position: absolute;
  font-family: Dashicons;
  content: "\f522";
  font-size: 36px;
  height: 55px;
  width: 55px;
  text-align: center;
  vertical-align: middle;
  left: 0;
  top: 0;
}
.wpm-playlist .mejs-container .mejs-controls .mejs-playpause-button.mejs-play:before {
  content: "\f522";
  left: 0;
  top: 20px;
  top: 20.5px;
}
.wpm-playlist .mejs-container .mejs-controls .mejs-playpause-button.mejs-pause:before {
  content: "\f523";
  left: -2px;
  top: 20px;
  top: 20.5px;
}
.wpm-playlist .mejs-container .mejs-controls .mejs-previous-button,
.wpm-playlist .mejs-container .mejs-controls .mejs-next-button {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 46px;
  left: 110px;
  cursor: pointer;
  -webkit-transition: opacity ease .2s;
  transition: opacity ease .2s;
  opacity: 1;
}
.wpm-playlist .mejs-container .mejs-controls .mejs-previous-button:before,
.wpm-playlist .mejs-container .mejs-controls .mejs-next-button:before {
  position: relative;
  font-family: Dashicons;
  font-size: 24px;
  padding: 5px;
  left: -2px;
  top: 10px;
}
.wpm-playlist .mejs-container .mejs-controls .mejs-previous-button:hover,
.wpm-playlist .mejs-container .mejs-controls .mejs-next-button:hover {
  opacity: .77;
}
.wpm-playlist .mejs-container .mejs-controls .mejs-previous-button:before {
  content: "\f516";
}
.wpm-playlist .mejs-container .mejs-controls .mejs-next-button {
  left: 150px;
}
.wpm-playlist .mejs-container .mejs-controls .mejs-next-button:before {
  content: "\f517";
}
.wpm-playlist .mejs-container .mejs-controls .mejs-toggle-playlist-button {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
}
.wpm-playlist .mejs-container .mejs-controls .mejs-toggle-playlist-button:before {
  position: absolute;
  right: 0;
  top: 2px;
  font-family: Dashicons;
  content: "\f333";
  font-size: 24px;
  height: 20px;
  width: 20px;
}
.wpm-playlist .mejs-container .mejs-controls .mejs-time {
  height: 16px;
  line-height: 16px;
  padding: 0;
  position: absolute;
  left: 130px;
  bottom: 25px;
}
.wpm-playlist .mejs-track-artwork {
  float: left;
  height: 90px;
  width: 90px !important;
  margin-right: 20px;
  margin-top: 7px;
  position: relative;
}
.wpm-playlist .mejs-track-artwork:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.wpm-playlist .mejs-track-artwork img {
  height: 90px;
  width: 90px;
  max-height: 100%;
}
.wpm-playlist.has-artwork .mejs-track-artwork {
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);
}
.wpm-playlist.has-artwork .mejs-track-artwork:before {
  -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2);
}
.wpm-playlist .wpm-tracks {
  border-style: solid;
  border-width: 1px;
  border-top: none;
}
.wpm-playlist .mejs-controls {
  border-style: solid;
  border-width: 1px;
  border-bottom: none;
}
.wpm-playlist.is-playlist-hidden .wpm-tracks {
  display: none;
}
.wpm-playlist.wpm-has-background:not(.wpm-sticky-playlist) .wpm-playlist-background {
  position: absolute;
  top: -30px;
  left: -30px;
  width: calc(100% + 50px);
  height: calc(100% + 50px);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  background-size: cover;
  -webkit-filter: blur(9px);
  filter: blur(9px);
}
.wpm-playlist.wpm-has-background:not(.wpm-sticky-playlist) .wpm-playlist-background:before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.33;
}
.wpm-playlist.wpm-has-background:not(.wpm-sticky-playlist) .mejs-controls,
.wpm-playlist.wpm-has-background:not(.wpm-sticky-playlist) .mejs-track-artist,
.wpm-playlist.wpm-has-background:not(.wpm-sticky-playlist) .mejs-track-title {
  color: #fff;
}
.wpm-playlist.wpm-has-background:not(.wpm-sticky-playlist) .mejs-controls .mejs-playpause-button {
  -webkit-box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);
}
.wpm-playlist.wpm-has-background:not(.wpm-sticky-playlist) .mejs-controls .mejs-playpause-button:hover {
  -webkit-box-shadow: 0 0 0 3px white;
  box-shadow: 0 0 0 3px white;
}
.wpm-playlist .wpm-track {
  min-height: 60px;
  border-width: 1px 0 0;
  cursor: pointer;
  display: table;
  margin: 0;
  padding: 0;
}
.wpm-playlist .wpm-track:first-child {
  border-top: none;
}
.wpm-playlist .wpm-track:last-child {
  border-bottom: none;
}
.wpm-playlist .wpm-track .wpm-track-cell {
  display: table-cell;
  vertical-align: middle;
}
.wpm-playlist .wpm-track .wpm-track-details {
  padding: 12px 20px;
  line-height: 18px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: left;
}
.wpm-playlist .wpm-track .wpm-track-details .wpm-track-title {
  display: block;
  font-weight: 700;
}
.wpm-playlist .wpm-track .wpm-track-details .wpm-track-artist {
  display: block;
}
.wpm-playlist .wpm-track .wpm-track-length {
  font-size: 11px;
  padding: 10px 20px 10px 10px;
  text-align: right;
  width: 55px;
}
.wpm-playlist .wpm-track .wpm-track-links {
  padding: 10px;
  text-align: right;
  width: 160px;
}
.wpm-playlist .wpm-track .wpm-track-icon {
  opacity: 1 !important;
  text-decoration: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: ease .2s;
  transition: ease .2s;
  margin: 0 4px;
  font-size: 14px;
}

.wpm-playlist-500 .wpm-track-title,
.wpm-playlist-500 .wpm-track-artist,
.wpm-playlist-380 .wpm-track-title,
.wpm-playlist-380 .wpm-track-artist {
  word-break: break-all;
}
.wpm-playlist-500 .mejs-container .mejs-track-details .mejs-track-artist,
.wpm-playlist-500 .mejs-container .mejs-track-details .mejs-track-title,
.wpm-playlist-380 .mejs-container .mejs-track-details .mejs-track-artist,
.wpm-playlist-380 .mejs-container .mejs-track-details .mejs-track-title {
  word-break: break-all;
}
.wpm-playlist-500 .wpm-track .wpm-track-length,
.wpm-playlist-380 .wpm-track .wpm-track-length {
  display: none;
}

/* 500px small playlist */
.wpm-playlist-500 .mejs-container .mejs-track-details .mejs-track-title {
  font-size: 14px;
}

/* 380px small playlist */
.wpm-playlist-380 .mejs-container .mejs-track-details .mejs-track-title {
  font-size: 12px;
}

/* Default skin */
.wpm-theme-light {
  /* light */
}
.wpm-theme-light.mejs-container {
  background: white;
  color: grey;
}
.wpm-theme-light.mejs-container .mejs-track-details {
  color: grey;
}
.wpm-theme-light .mejs-controls,
.wpm-theme-light .wpm-tracks {
  background: white;
  border-color: rgba(0, 0, 0, 0.1);
}
.wpm-theme-light .mejs-controls .mejs-playpause-button {
  -webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.08);
}
.wpm-theme-light .wpm-track {
  border-width: 1px 0 1px;
  border-top-color: rgba(0, 0, 0, 0.1);
  border-bottom-color: rgba(0, 0, 0, 0.02);
  color: grey;
}
.wpm-theme-light .wpm-track:hover, .wpm-theme-light .wpm-track.is-current {
  background: #f7f7f7;
}
.wpm-theme-light .mejs-track-artist,
.wpm-theme-light .mejs-currenttime {
  color: grey;
}
.wpm-theme-light .wpm-track-title,
.wpm-theme-light .mejs-track-title {
  color: #0d0d0d;
}
.wpm-theme-light .wpm-track-icon {
  color: grey !important;
}
.wpm-theme-light .wpm-track-icon:hover {
  color: #0d0d0d !important;
}

.wpm-theme-dark.mejs-container {
  background: #2d2d2d;
  color: #d1d8d9;
}
.wpm-theme-dark.mejs-container .mejs-track-details {
  color: #d1d8d9;
}
.wpm-theme-dark .mejs-controls,
.wpm-theme-dark .wpm-tracks {
  background: #2d2d2d;
  border-color: rgba(0, 0, 0, 0.2);
}
.wpm-theme-dark .mejs-controls .mejs-playpause-button {
  -webkit-box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);
}
.wpm-theme-dark .wpm-track {
  border-width: 1px 0 1px;
  border-top-color: #191919;
  border-bottom-color: rgba(255, 255, 255, 0.088);
  color: #d1d8d9;
}
.wpm-theme-dark .wpm-track:hover, .wpm-theme-dark .wpm-track.is-current {
  background: #252525;
}
.wpm-theme-dark .wpm-track-title {
  color: white;
}
.wpm-theme-dark .wpm-track-icon {
  color: #d1d8d9 !important;
}
.wpm-theme-dark .wpm-track-icon:hover {
  color: white !important;
}

/* Sticky style */
.wpm-bar-holder {
  width: 100%;
  height: 49px;
}

.wpm-sticky-playlist-container {
  position: fixed;
  width: 100%;
  height: 50px;
  bottom: 0;
  left: 0;
  z-index: 99999;
}

/* Main Style */
.wpm-sticky-playlist {
  margin: 0 !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  border-top: 1px solid;
}
.wpm-sticky-playlist .wpm-playlist-background {
  display: none;
}
.wpm-sticky-playlist .mejs-container .mejs-controls .mejs-playpause-button {
  background: none;
}
.wpm-sticky-playlist.has-artwork:not(.wpm-theme-transparent-dark):not(.wpm-theme-transparent-light) .mejs-container .mejs-controls .mejs-playpause-button {
  background: rgba(0, 0, 0, 0.1);
  color: #fff;
}
.wpm-sticky-playlist .wpm-playlist-background {
  display: none;
}
.wpm-sticky-playlist .wpm-tracks {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  position: absolute;
  bottom: 50px;
  opacity: .88;
}
.wpm-sticky-playlist .wpm-track {
  border: none;
}
.wpm-sticky-playlist .wpm-track-details .wpm-track-title,
.wpm-sticky-playlist .wpm-track-details .wpm-track-artist {
  display: inline-block;
}
.wpm-sticky-playlist .wpm-track-details .wpm-track-title {
  width: 60%;
}
.wpm-sticky-playlist .wpm-track-details .wpm-track-artist {
  width: 20%;
}
.wpm-sticky-playlist .mejs-container {
  height: 50px !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.wpm-sticky-playlist .mejs-container .mejs-inner {
  padding: 0;
  height: 50px;
}
.wpm-sticky-playlist .mejs-container .mejs-layers {
  height: 50px;
}
.wpm-sticky-playlist .mejs-container .mejs-controls {
  border: none;
  margin-top: 0;
}
.wpm-sticky-playlist .mejs-container .mejs-controls .mejs-button {
  z-index: 5;
}
.wpm-sticky-playlist .mejs-container .mejs-controls .mejs-toggle-playlist-button.is-open:before {
  content: "\f335";
}
.wpm-sticky-playlist .mejs-container .mejs-controls .mejs-playpause-button {
  top: 0;
  left: 0;
  border-radius: 0 !important;
  border: 0 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  margin: 0;
}
.wpm-sticky-playlist .mejs-container .mejs-controls .mejs-playpause-button.mejs-pause:before {
  left: 3px;
  left: -3.5px;
}
.wpm-sticky-playlist .mejs-container .mejs-controls .mejs-playpause-button.mejs-play:before {
  left: -2px;
}
.wpm-sticky-playlist .mejs-container .mejs-controls .mejs-previous-button,
.wpm-sticky-playlist .mejs-container .mejs-controls .mejs-next-button {
  top: -5px;
}
.wpm-sticky-playlist .mejs-container .mejs-controls .mejs-previous-button {
  left: 45px;
}
.wpm-sticky-playlist .mejs-container .mejs-controls .mejs-next-button {
  left: 85px;
}
.wpm-sticky-playlist .mejs-container .mejs-controls .mejs-time-rail {
  z-index: 0;
  height: 50px;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding-left: 50px;
}
.wpm-sticky-playlist .mejs-container .mejs-controls .mejs-time-rail .mejs-time-loaded,
.wpm-sticky-playlist .mejs-container .mejs-controls .mejs-time-rail .mejs-time-buffering,
.wpm-sticky-playlist .mejs-container .mejs-controls .mejs-time-rail .mejs-time-handle {
  display: none !important;
}
.wpm-sticky-playlist .mejs-container .mejs-controls .mejs-time-rail .mejs-time-total {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  background: none !important;
}
.wpm-sticky-playlist .mejs-container .mejs-controls .mejs-time-rail a,
.wpm-sticky-playlist .mejs-container .mejs-controls .mejs-time-rail .mejs-time-current,
.wpm-sticky-playlist .mejs-container .mejs-controls .mejs-time-rail .mejs-time-total {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  height: 50px;
}
.wpm-sticky-playlist .mejs-container .mejs-controls .mejs-time {
  left: auto;
  right: 66px;
  bottom: 19px;
}
.wpm-sticky-playlist .mejs-container .mejs-controls .mejs-time .mejs-time-separator,
.wpm-sticky-playlist .mejs-container .mejs-controls .mejs-time .mejs-duration {
  display: none !important;
}
.wpm-sticky-playlist .mejs-container .mejs-track-artwork {
  float: left;
  margin-right: 10px;
  margin-top: 0;
  height: 50px;
  width: 50px !important;
}
.wpm-sticky-playlist .mejs-container .mejs-track-artwork:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.wpm-sticky-playlist .mejs-container .mejs-track-artwork img {
  height: 50px;
  width: 50px;
}
.wpm-sticky-playlist .mejs-container .mejs-track-details {
  padding: 5px;
  padding-left: 146px;
  padding-right: 146px;
  height: 50px;
  vertical-align: middle;
}
.wpm-sticky-playlist .mejs-container .mejs-track-details .mejs-track-artist {
  display: block;
  line-height: 2;
  margin-right: 45px;
  font-size: 11px;
  min-height: 12px;
}
.wpm-sticky-playlist .mejs-container .mejs-track-details .mejs-track-title {
  display: block;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.2;
}

/* Dark theme */
.wpm-sticky-playlist.wpm-theme-dark,
.wpm-sticky-playlist.wpm-theme-transparent-light {
  background: #2d2d2d;
  border-top-color: rgba(255, 255, 255, 0.05);
}
.wpm-sticky-playlist.wpm-theme-dark .wpm-track,
.wpm-sticky-playlist.wpm-theme-transparent-light .wpm-track {
  color: #fff;
}
.wpm-sticky-playlist.wpm-theme-dark .wpm-track-links a,
.wpm-sticky-playlist.wpm-theme-transparent-light .wpm-track-links a {
  color: white !important;
}
.wpm-sticky-playlist.wpm-theme-dark .mejs-container .mejs-track-details,
.wpm-sticky-playlist.wpm-theme-transparent-light .mejs-container .mejs-track-details {
  color: #fff;
}
.wpm-sticky-playlist.wpm-theme-dark .mejs-container .mejs-controls,
.wpm-sticky-playlist.wpm-theme-transparent-light .mejs-container .mejs-controls {
  color: #fff;
}
.wpm-sticky-playlist.wpm-theme-dark .mejs-container .mejs-controls .mejs-time span,
.wpm-sticky-playlist.wpm-theme-transparent-light .mejs-container .mejs-controls .mejs-time span {
  color: #fff;
}
.wpm-sticky-playlist.wpm-theme-dark .mejs-container .mejs-controls .mejs-time-rail .mejs-time-current,
.wpm-sticky-playlist.wpm-theme-transparent-light .mejs-container .mejs-controls .mejs-time-rail .mejs-time-current {
  background: rgba(255, 255, 255, 0.05) !important;
}

/* Light theme */
.wpm-sticky-playlist.wpm-theme-light,
.wpm-sticky-playlist.wpm-theme-transparent-dark {
  background: #fff;
  border-top-color: rgba(0, 0, 0, 0.05);
}
.wpm-sticky-playlist.wpm-theme-light .wpm-track,
.wpm-sticky-playlist.wpm-theme-transparent-dark .wpm-track {
  color: #333;
}
.wpm-sticky-playlist.wpm-theme-light .wpm-track-links a,
.wpm-sticky-playlist.wpm-theme-transparent-dark .wpm-track-links a {
  color: #333333 !important;
}
.wpm-sticky-playlist.wpm-theme-light .mejs-container .mejs-track-details,
.wpm-sticky-playlist.wpm-theme-transparent-dark .mejs-container .mejs-track-details {
  color: #333;
}
.wpm-sticky-playlist.wpm-theme-light .mejs-container .mejs-controls,
.wpm-sticky-playlist.wpm-theme-transparent-dark .mejs-container .mejs-controls {
  color: #0d0d0d;
}
.wpm-sticky-playlist.wpm-theme-light .mejs-container .mejs-controls .mejs-time span,
.wpm-sticky-playlist.wpm-theme-transparent-dark .mejs-container .mejs-controls .mejs-time span {
  color: #333;
}
.wpm-sticky-playlist.wpm-theme-light .mejs-container .mejs-controls .mejs-time-rail .mejs-time-current,
.wpm-sticky-playlist.wpm-theme-transparent-dark .mejs-container .mejs-controls .mejs-time-rail .mejs-time-current {
  background: rgba(255, 255, 255, 0.05) !important;
}

.wpm-sticky-playlist.wpm-theme-transparent-dark,
.wpm-sticky-playlist.wpm-theme-transparent-light {
  background: none !important;
  border: none !important;
}
.wpm-sticky-playlist.wpm-theme-transparent-dark .mejs-container,
.wpm-sticky-playlist.wpm-theme-transparent-dark .mejs-embed,
.wpm-sticky-playlist.wpm-theme-transparent-dark .mejs-embed body,
.wpm-sticky-playlist.wpm-theme-transparent-dark .mejs-container .mejs-controls,
.wpm-sticky-playlist.wpm-theme-transparent-light .mejs-container,
.wpm-sticky-playlist.wpm-theme-transparent-light .mejs-embed,
.wpm-sticky-playlist.wpm-theme-transparent-light .mejs-embed body,
.wpm-sticky-playlist.wpm-theme-transparent-light .mejs-container .mejs-controls {
  background: none;
}
.wpm-sticky-playlist.wpm-theme-transparent-dark .mejs-track-artwork,
.wpm-sticky-playlist.wpm-theme-transparent-light .mejs-track-artwork {
  display: none;
}
.wpm-sticky-playlist.wpm-theme-transparent-dark .mejs-container .mejs-controls .mejs-time-rail,
.wpm-sticky-playlist.wpm-theme-transparent-light .mejs-container .mejs-controls .mejs-time-rail {
  padding-left: 0;
}

.wpm-sticky-playlist.wpm-theme-transparent-dark .wpm-tracks {
  background: rgba(255, 255, 255, 0.66);
}
.wpm-sticky-playlist.wpm-theme-transparent-dark .mejs-container .mejs-controls .mejs-time-rail .mejs-time-current {
  background: rgba(0, 0, 0, 0.05) !important;
}

.wpm-sticky-playlist.wpm-theme-transparent-light .wpm-tracks {
  background: rgba(0, 0, 0, 0.88);
}

/* Toggle player */
.wpm-sticky-playlist-container .mejs-toggle-player-button {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 24px !important;
  background: rgba(255, 255, 255, 0.8);
  z-index: 999;
}
.wpm-sticky-playlist-container .mejs-toggle-player-button button {
  margin-left: 0;
  position: absolute;
  top: 50%;
  left: 0;
  text-align: center;
  width: 100%;
}

/* Streaming Radio */
body.is-wpm-bar-player.wpm-bar-player-streaming {
  /* Hide prev/next buttons, toggle playlist and time bar */
  /* Adjust track details position */
  /* Adjust time position */
}
body.is-wpm-bar-player.wpm-bar-player-streaming .wpm-sticky-playlist-container .mejs-previous-button,
body.is-wpm-bar-player.wpm-bar-player-streaming .wpm-sticky-playlist-container .mejs-next-button,
body.is-wpm-bar-player.wpm-bar-player-streaming .wpm-sticky-playlist-container .mejs-toggle-playlist-button,
body.is-wpm-bar-player.wpm-bar-player-streaming .wpm-sticky-playlist-container .mejs-time-rail {
  display: none !important;
}
body.is-wpm-bar-player.wpm-bar-player-streaming .wpm-sticky-playlist-container .mejs-container .mejs-track-details {
  padding-left: 66px !important;
}
body.is-wpm-bar-player.wpm-bar-player-streaming .wpm-sticky-playlist-container .mejs-time {
  right: 20px !important;
}

@media screen and (max-width: 500px) {
  .wpm-sticky-playlist-container .wpm-track .wpm-track-details .wpm-track-artist,
  .wpm-sticky-playlist-container .wpm-track .wpm-track-details .wpm-track-title {
    display: block;
    width: 80%;
    word-break: keep-all;
    text-align: left;
  }
  .wpm-sticky-playlist-container .wpm-playlist .mejs-container .mejs-controls .mejs-time {
    display: none;
  }
}
@media screen and (max-width: 380px) {
  .wpm-sticky-playlist-container .mejs-container .mejs-track-details {
    display: none;
  }
}
